<router-outlet></router-outlet>
<!-- Dejar esto siempre vacio
No usen los href="ruta"
usen el evento click y programen desde el ts con el router, en consultageneral hay ejemplos de eso

Si necesitan enviarse parametros entre componentes revisar approuting module "singlelistening"
 Y los componentes de consultageneral y singlelisting
 no usen el localstorage para guardar datos

Comandos git

echo "# Prueba" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/JuanPue/InAlpesAngular.git --- Este solo lo hacen una vez
git push -u origin FrontEnd usen este para hacer el push y subir archivos


el orden cada que vayan a subir archivos
guarden todos los archivos antes de empezar


git add .  dejenlo con el punto ya que añade todos los archivos editados
git commit -m "mensaje del commit"

Luego hagan git status -s para revisar que no haya quedado nada por fuera, si sale algun archivo hagan los otros dos comandos de nuevo y guarden

git push -u origin FrontEnd
-->
